.db-header-p1:before{
	background:url("../img/db-little.png")no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	display: block;
	float: left;
}
.db-header-p1{
	float: left;
	span{
		color: #585858;
		font-family: "Gilroy-Light";
		font-size: 16px;
		font-weight: 300;
		line-height: 18px;
		display: block;
		padding-left: 25px;
	}
}
.db-header-p2{
	color: #6a6a6a;
	font-family: "Gilroy-Light";
	font-size: 14px;
	font-weight: 300;

	float:right;
	span{
		color: #6a6a6a;
		font-family: "Gilroy-ExtraBold";
		font-size: 21px;
		font-weight: 700;
		text-transform: uppercase;
	}
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

